#movieDiv{
  margin: 5px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 9px;
  border: 9px;
  background-color: DimGray;
  margin-top: 18px;
  color: GoldenRod;
  text-shadow: 2px 2px black;
}
body {
background-image: url('https://ak8.picdn.net/shutterstock/videos/8476261/thumb/8.jpg');
background-repeat: no-repeat;
background-size: cover;
}
img {
width: 5px,
height: 5px,
}
.jumbotron {
  background-image: url('https://ak8.picdn.net/shutterstock/videos/8476261/thumb/8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(241, 227, 184, 1);
}
h1{
  text-align: center;
  color: rgba(241, 227, 184, 1);
}
#container{
  text-align: center;
}
.btn {
  color: black;
}
* {
  font-family: 'Anonymous Pro', monospace;
}
