#movieDiv{
  margin: 5px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 9px;
  border: 9px;
  background-color: DimGray;
  margin-top: 18px;
  color: GoldenRod;
  text-shadow: 2px 2px black;
}
img{

}
